body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(37, 37, 44);
    
}

main{
    margin: 20px auto 0;
    justify-content: center;
    align-items: center;
    display: flex;
}

.hero__title{
    margin-bottom: 0;
    font-size: 3em;
    color: white;
}

.hero__input{
    width: 800px;
    height: 35px;
    border: 1px solid black ;
    border-radius: 3px;
    transition: outline 0.2s;
}

.hero__input:focus{
    outline: 3px solid rgba(60, 42, 158, 0.575);
}

.hero__add{
    margin-top: 5px;
    height: 35px;
    width: 800px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgb(0, 185, 185);
    border-radius: 4px;
    color: rgb(0, 185, 185);
    cursor: pointer;
    transition: color 0.2s, background-color 0.2s;
}

.hero__add:hover{
    background-color: aqua;
    color: black;
}

.hero__card{
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    margin-top: 8px;
    height: 50px;
    font-size: 20px;
    width: 800px;
}

li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border: 1px solid gray;
}

.hero__p{
    margin-left: 20px;
}

.hero__p-line-trought{
   margin-left: 20px;
   text-decoration: line-through; 
}

.hero__card__btn{
    margin-right: 15px;
    display: flex;
    gap: 6px;
}

.hero__card__btn1{
    border: 0;
    background-color: green;
    color: white;
    border-radius: 4px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.hero__card__btn1-warning{
    border: 0;
    background-color: rgb(189, 189, 0);
    color: white;
    border-radius: 4px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.hero__card__btn2{
    border: 0;
    background-color: rgb(179, 0, 0);
    color: white;
    border-radius: 4px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.hero__card__btn1:hover,.hero__card__btn2:hover,.hero__card__btn1-warning:hover{
    filter: brightness(80%);
}